:root{
    --my-font:  Arial, Helvetica, sans-serif;
    --my-font-two: 'Quicksand', sans-serif;
    --sm: 1.2rem;
    --md: 1.6rem;
    --lg: 1.8rem;
    --black: rgba(0,0,0,0.87);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.navbar {
    min-width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-family: var(--my-font) ;
    font-size: var(--sm);
    padding: 6px;
    height: 8vh
}
.nav-menu ul {
    list-style: none;
    display: flex;
    color: var(--black);
}
.nav-menu li {
    padding-right: 1.5rem;

}
.nav-menu ul li a {
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}
.nav-logos{
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 20px;
}
.item3, .item4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}
.item3 img{
    cursor: pointer;
    height: 3.2rem;
    width: 3.2rem;
    margin-right: 20px;
    padding: 8px;
}
.item4 img{
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    height: 4.8rem;
    width: 4.8rem;
    padding: 8px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
}
.main-logo{
    width: 100vw;
    height: 44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 8px;
}
.main-logo figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 16vh;
}

.main-logo img{
    width: 220px;
}
.main-search{
    height: 56%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-search input{
    width: 32vw;
    height: 32px;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    margin-bottom: 20px;
}

.main-search button{
    font-family: var(--my-font);
    font-size: var(--sm);
    color: #9e9b9b;
    width: 8vw;
    height: 28px;
    border: none;
    border-radius: 4px;
    margin-left: 20px;
    cursor: pointer;
}

footer {
    font-family: var(--my-font);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
    background-color: #f2f2f2;
    height: 7vh;
    font-size: var(--sm);
    border-top: 0.1rem solid #bfbebe;
    padding:  0 20px;
}
.left-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
}
.right-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    justify-content: flex-end;
}
.right-footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.left-footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.left-footer ul li{
    padding: 10px 10px;
}
.right-footer ul li{
    padding: 10px 10px;
}
.left-footer ul li a{
    text-decoration: none;
    color: grey;
}
.right-footer ul li a{
    text-decoration: none;
    color: grey;
}