:root{
    --veryDark-grey: #202124;
    --veryDark:#171717;
    --blue-light: #8ab4f8;
    --blue-dark: #1a73e8;
    --grey-light: #f2f2f2;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Globales */
html{
    font-size: 62.5%;
}
body{
    min-width: 390px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}


/*Header */
.header {
    width: 100%;
    height: 8vh;
}
.header__nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.header__list{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.header__list a {
    color: #000000;
}
.list-left li a{
    padding-left: 15px;
}
.header__nav--menu{
    display: flex;
    align-items: center;
    padding: 8px;
    margin-left: 18px;
    cursor: pointer;
}
.header__nav--icon{
    color: #5f6368;
    width: 24px;
}
.header__nav--menu:hover{
    outline: none;
    border-radius: 50%;
    background-color: rgba(60,64,67,0.08);
}

.header__list .header__nav--login{
    background-color: var(--blue-dark);
    color: white;
    margin: 0 8px 0 14px;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.25px;
    text-align: center;
    padding: 9px 15px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
}
.header__list .header__nav--login:hover{
    text-decoration: none;
    background: #2b7de9;
    box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%), 0 1px 3px 1px rgb(66 133 244 / 15%);
}

/* Main section*/
.Main__container  {
    max-height: 82vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.Main__logo {
    margin-bottom: 24px;
}
.Main__logo img{
    width: 100%
}

.Main__search{
    width: 90%;
    max-width: 560px;
    min-width: 360px;
    border-radius: 100px;
    border: 1px solid #dfe1e5 ;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 14px;
    margin-bottom: 32px;
}
.Main__search--input{
    width: 100%;
    height: 44px;
    border: none;
    /* Este estilo lo que hace es no resaltar el input*/
    outline: none;
}
.Main__search:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

.Main__search-icon {
    margin-top: 3px;
    color: #9aa0a6;
    width: 18px;
    margin-right: 10px;
}
.Main__microphone--icon{
    width: 22px;
    cursor: pointer;
}


/*Buttons*/
.Main__buttons{
    margin: 0 auto;
}
.Main__buttons div{
    display: inline-block;
}
.Main__buttons button{
    height: 36px;
    background-color: #f8f9fa;
    border: none;
    font-size: 14px;
    color: #3c4043;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
    margin-bottom: 28px;
    cursor: pointer;
}
.Main__buttons button:hover{
    box-shadow: 0 1px 1px #dadce0;
    border: 1px solid #dadce0;
    color: #202124;
}
.Main__text a{
    color: blue;
}

/*footer Main Region */
.Main__region{
    font-size: 1.5rem;
    padding: 14px 30px;
    background-color: var(--grey-light);
}

/*Footer*/
.footer {
    width: 100%;
    /*Que se quede siempre abajo de la página*/
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    font-size: 1.4rem;
    background-color: var(--grey-light);
    color: #70757a;
    
}
.footer ul {
    /*los ul tienen un padding left por defecto*/
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #70757a;
}
.footer ul li{
    padding: 15px;
}
.footer ul li a {
    color: #70757a;
}

.footer__info{
    border-top: 1px solid #dadce0;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



@media (min-width:960px){
    .header__nav .header__nav--login {
        padding: 9px 23px;
    }
    
}